<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome do Anime</ion-label>
    <ion-input [(ngModel)]="anime.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Categoria</ion-label>
    <ion-input [(ngModel)]="anime.categoria"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Criador</ion-label>
    <ion-input [(ngModel)]="anime.criador"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Estúdio</ion-label>
    <ion-input [(ngModel)]="anime.estudio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ano</ion-label>
    <ion-input [(ngModel)]="anime.ano"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Episódios</ion-label>
    <ion-input [(ngModel)]="anime.episodios"></ion-input>
  </ion-item>

  <ion-button color="success" expand="block" (click)="salvar()">SALVAR</ion-button>

  <ion-button routerLink="/home">
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-button>

</ion-content>
